<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        ">

	<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="locations"> <value>classpath:db.properties</value> </property> 
		</bean> -->

	<context:property-placeholder location="classpath:db.properties" />


	<bean id="testService" class="com.iyuan.day1.TestService">
		<!-- collaborators and configuration for this bean go here -->
		<property name="dbname">
			<value>${all.dbname}</value>
		</property>
	</bean>


	<!-- more bean definitions go here -->

</beans>